<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <title>Vue Basics</title>
</head>
<body>
    <div id="app">
        <app-test v-for='item in testSet'
                  v-bind:key='item.id'
                  v-bind:title='item.title'
        ></app-test>
	<raw-html-test v-for='item in interpolationSet'
			v-bind:key='item.id'
			v-bind:msg='item.msg'
	></raw-html-test>
    </div>

    <script>
        Vue.component('app-test', {
                props: ['title'],
                template: "<h3>{{ title }}</h3>"
        });
	Vue.component('raw-html-test', {
		props: ['msg'],
		template: `<div id='a-root'>
			<p> Vue requires the v-html tag to output interpreted HTML: {{ msg }}</p>
			<p>Otherwise, content won\'t look like this! <span v-html="msg"></span></p> 
			</div>`
	});

        var app = new Vue({
            el: '#app',
            data: {
                testSet: [{ id: 1, title: 'Hello Vue!'},
			{ id: 2, title: 'Other msg'},
			{ id: 3, title: 'duplicate'}],
		interpolationSet: [{ id: 4, msg: '<span style="color: green;">Woot. It is green!</span>' },
				{id: 5, msg: '<span style="color: red;">Red incoming</span>' }]
            }
        });

    </script>

</body>
</html>

